
/* Initialize */

:root {
  --brand-color: #0012ff;
  --base-padding: 2rem;
}

@font-face {
  font-family: "Citizen OT";
  src: url("../RSC/font/ufonts.com_citizen.ttf");
}

/* General */

html {
  font-size: 16px;
}

body {
  position: absolute;
  z-index: -2;
  background: var(--brand-color);
  font-family: "Citizen OT";
  margin: 0;
  overflow: hidden;

}


/* Titles */


h1, h2, p {
  margin: 0 auto;
  font-weight: bold;

}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8rem;
}

h2.subtitle{
  font-size: 5rem;
  margin-bottom: -0.8rem;
  margin-left: 0.5rem;
  font-weight: bold;

}

p{
  font-size: 3rem;
  margin-top: -1.5rem;
  margin-left: 0.5rem;
}

/* Poster */

main {
  padding: var(--base-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  box-sizing: border-box;
}

.circle {
  width: 15rem;
  height: 15rem;
  opacity: 1;
  margin-right: 10rem;
}

.poster {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.poster-infos {
  /* padding-bottom: var(--base-padding); */
  margin-left: 3rem;
  /* height: 50vh;
  width: 40vh; */
}

.poster-date {
  margin-bottom: 6.5rem;
}

.poster-date h2 {
  transform: rotate(-90deg);
  font-size: 2rem;
  font-weight: bold;
  margin-right: 5rem;


/* }
.motifs::after{
  content: "";
  position: absolute;
  background: chartreuse;
  opacity: 0.57;
  z-index: 1;
} */
.pattern {
  position: absolute;
  z-index: -2;
  filter: contrast(150%);
  width: 12%;

}
